# udev rules to match temperature logger and grant daemon user "pylarexx" permission to access it
SUBSYSTEM=="usb", ATTRS{idVendor}=="0451", ATTRS{idProduct}=="3211", GROUP="pylarexx", MODE="0664" 

