[Unit]
Description=Python Logger Arexx Daemon

[Service]
Type=simple
RuntimeDirectory=pylarexx
ExecStart=/usr/local/pylarexx/pylarexx.py -f /etc/pylarexx.yml
WorkingDirectory=/usr/local/pylarexx
User=pylarexx
Group=pylarexx

[Install]
WantedBy=multi-user.target
